<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Paceirodemudanca"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".PedidoActivity"
            android:exported="false" />
        <activity
            android:name=".EscolherServicoActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD8xZdFABVzGoyEEpAkLrSjhPDYAv8dolY" />

        <activity
            android:name=".MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".HomeAjudanteActivity"
            android:exported="false" />
        <activity
            android:name=".HomeTransportadorActivity"
            android:exported="false" />
        <activity
            android:name=".HomeClienteActivity"
            android:exported="false" />
        <activity
            android:name=".CadastroAjudanteActivity"
            android:exported="false" />
        <activity
            android:name=".CadastroTransportadorActivity"
            android:exported="false" />
        <activity
            android:name=".CadastroClienteActivity"
            android:exported="false" />
        <activity
            android:name=".EscolhaActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>